* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
  margin: 0;
  padding: 0
}
body {
  position: relative;
  background-color: #010101;
}
