* {
  margin: 0px;
  padding: 0px;
  outline: none;
}
body {
  position: relative;
  background-color: #010101!important;
}
p,span,h1,h2,h3,h4,h5,h6{
  font-family: Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
